
@{
    ViewBag.Title = "Index";
}

<h2>Index page</h2>
<ol>
    <li>@Html.ActionLink("Json Result", "getEmployees")</li>
    <li>@Html.ActionLink("File Result", "DownloadPDF")</li>
    <li>@Html.ActionLink("File Result", "DownloadWord")</li>
    <li>@Html.ActionLink("Redirect Result Gmail", "OpenGmail")</li>
    <li>@Html.ActionLink("Redirect Result Twitter", "OpenTwitter")</li>
    <li>@Html.ActionLink("Content Result", "SayHello")</li>
    <li>@Html.ActionLink("Content Result", "SayHello1")</li>
    <li>@Html.ActionLink("Content Result", "SayHello2")</li>
</ol>
